cluster.name: elk-cluster-01
node.name: es-master-03
node.roles: [master]
network.host: elk-es-master-03-pod.elknet
http.port: 9200
transport.port: 9300
discovery.seed_hosts:
  - elk-es-coord-01-pod.elknet:9300
  - elk-es-master-01-pod.elknet:9300
  - elk-es-master-02-pod.elknet:9300
  - elk-es-master-03-pod.elknet:9300
  - elk-es-hot-01-pod.elknet:9300
  - elk-es-hot-02-pod.elknet:9300
  - elk-es-warm-01-pod.elknet:9300
  - elk-es-warm-02-pod.elknet:9300
  - elk-es-cold-01-pod.elknet:9300
  - elk-es-cold-02-pod.elknet:9300
  - elk-es-ml-01-pod.elknet:9300
  - elk-es-ingest-01-pod.elknet:9300
  - elk-es-transform-01-pod.elknet:9300
cluster.initial_master_nodes:
  - es-master-01
  - es-master-02
  - es-master-03
bootstrap.memory_lock: true
indices.fielddata.cache.size: 20%
xpack.license.self_generated.type: basic
xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: "elastic-http.p12"
xpack.security.http.ssl.verification_mode: certificate
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: full
xpack.security.transport.ssl.client_authentication: required
xpack.security.transport.ssl.keystore.path: elastic-transport.p12
xpack.security.transport.ssl.truststore.path: elastic-transport.p12
xpack.monitoring.collection.enabled: true
s3.client.default.protocol: http
s3.client.default.endpoint: "elk-minio-01-pod.elknet:9000"
s3.client.default.path_style_access: "true"
reindex.remote.whitelist: []
