apiVersion: v1
kind: Pod
metadata:
  labels:
    app: es-hot-02-pod
  name: es-hot-02-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: localhost/extra2000/elastic/elasticsearch
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: es_hot_02_pod_es_hot_02.process
    resources:
      requests:
        memory: 1000Mi
        cpu: 1000m
      limits:
        memory: 1000Mi
        cpu: 1000m
    env:
    - name: ES_JAVA_OPTS
      valueFrom:
        configMapKeyRef:
          name: es-hot-02-configmap
          key: env_java_opts
    volumeMounts:
    - mountPath: /usr/share/elasticsearch/config
      name: es-hot-02-config
    - mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
      name: es-hot-02-yml
      readOnly: true
    - mountPath: /usr/share/elasticsearch/config/log4j2.properties
      name: es-hot-02-log4j-config
      readOnly: true
    - mountPath: /usr/share/elasticsearch/config/elastic-transport.p12
      name: es-hot-02-ssl-transport
      readOnly: true
    - mountPath: /usr/share/elasticsearch/config/elastic-http.p12
      name: es-hot-02-ssl-http
      readOnly: true
    - mountPath: /usr/share/elasticsearch/jdk/lib/security/cacerts
      name: es-hot-02-jdk-cacerts
      readOnly: true
    - mountPath: /usr/share/elasticsearch/data
      name: es-hot-02-data
    - mountPath: /usr/share/elasticsearch/logs
      name: es-hot-02-logs
  volumes:
  - name: es-hot-02-yml
    hostPath:
      path: ./configs/es-hot-02.yml
  - name: es-hot-02-log4j-config
    hostPath:
      path: ./configs/log4j2.properties
  - name: es-hot-02-ssl-transport
    hostPath:
      path: ./secrets/certificate-bundle/es-hot-02/es-hot-02.p12
  - name: es-hot-02-ssl-http
    hostPath:
      path: ./secrets/elasticsearch-ssl-http/elasticsearch/http.p12
  - name: es-hot-02-jdk-cacerts
    hostPath:
      path: ./secrets/jdk-cacerts
  - name: es-hot-02-config
    persistentVolumeClaim:
      claimName: es-hot-02-config
  - name: es-hot-02-data
    persistentVolumeClaim:
      claimName: es-hot-02-data
  - name: es-hot-02-logs
    persistentVolumeClaim:
      claimName: es-hot-02-logs
